@import 'mediawiki.skin.variables.less';

.ext-urlshortener-container {
	display: flex;
	flex-wrap: wrap;
	gap: @spacing-100;
}

.mw-htmlform-ooui-wrapper {
	flex-grow: 1;
}

.ext-urlshortener-qrcode-container {
	flex-grow: 1;
	text-align: center;
}

.ext-urlshortener-qrcode {
	margin-bottom: @spacing-100;

	> img {
		border: @border-width-base @border-style-base @border-color-subtle;
	}
}
