@import "../../../resources/src/mediawiki.ui/mixins/forms";

#mwe-urlshortener-url-textbox {
	.agora-field-styling();
	font-size: 1em;
	line-height: 1.4em;
	min-width: 40%;
}

#mwe-urlshortener-form-header {
	display: block;
	font-weight: bold;
	margin-left: 2px;
	margin-bottom: 8px;
}

#mwe-urlshortener-url-input {
	.agora-field-styling();
	font-size: 1em;
	line-height: 1.4em;
}

#mwe-urlshortener-form-footer {
	display: none;
	margin-top: 1em;
	padding: 0.5em;
}

#mwe-urlshortener-url-shorturl-display {
	font-size: 1.2em;
	line-height: 1.6em;
}

#mwe-urlshortener-form-error {
	display: none;
	color: #FF9494;
}
