@import "../../../resources/src/mediawiki.ui/mixins/forms";

#mwe-urlshortener-url-textbox {
	.agora-field-styling();
	font-size: 1em;
	line-height: 1.4em;
	min-width: 40%;
}

#mwe-urlshortener-form-header {
	display: block;
	font-weight: bold;
	margin-left: 2px;
	margin-bottom: 8px;
}

#mwe-urlshortener-url-input {
	.agora-field-styling();
	font-size: 1em;
	line-height: 1.4em;
}
